.buttons-container {
    background-color: gray;
}

button {
    padding: 10px;
    margin: 5px 10px;
    white-space: normal;
}

.gifs-container {
    background-color: blanchedalmond;
}

.new-button {
    background-color: lightskyblue;
}

.gif-div {
    float: left;
    height: 225px;
}

.jumbotron {
    background-color: cyan;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 0px;
}

.gif-div {
    margin-left: 10px;
    margin-top: 10px;
    border: 3px solid black;
}

.card {
    background-color: whitesmoke;
}

.faves-card {
    margin-bottom: 10px;
}

h6 {
    margin: 0px 3px;
    font-weight: bolder;
    font-size: 14px;
}